/************************Custom Inputs****************************/
.custom-radio,
.custom-checkbox{
	background: 			url("../../images/ci.png") no-repeat 0 0;
	width: 					13px;
	height: 				13px;
	display: 				-moz-inline-stack;
	display: 				inline-block;
	*display: 				inline;
	zoom:					1;
	overflow: 				hidden;
	vertical-align: 		middle;
	cursor: 				pointer;
}
.custom-checkbox{
	background-position: 	-16px -13px;
	width: 					16px;
	height: 				16px;
}
.custom-checkbox input{
	width: 					16px;
	height: 				16px;
}
.custom-radio input{
	width: 					13px;
	height: 				13px;
}
.custom-radio input,
.custom-checkbox input{
	opacity: 				0;
	filter:					alpha(opacity=0);
	margin: 				0 !important;
	cursor: 				pointer;
}
.custom-radio.custom-selected{
	background-position: 	-12px 0;
}
.custom-checkbox.custom-selected{
	background-position: 	0 -13px;
}
.custom-radio.custom-disabled,
.custom-checkbox.custom-disabled{
	opacity: 				0.6;
	filter:					alpha(opacity=60);
}
.custom-radio.custom-hidden,
.custom-checkbox.custom-hidden{
	display: 				none;
}


