<?xml version="1.0"?>
  <config>
     <modules>
        <Codevog_Delivery>
          <version>0.5.3</version>
        </Codevog_Delivery>
     </modules>
     <adminhtml>    
        <layout>
            <updates>
                <codevog_delivery>
                    <file>codevog/delivery.xml</file>
                </codevog_delivery>
            </updates>
        </layout>
    </adminhtml>
   <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <codevog_delivery before="Mage_Adminhtml">Codevog_Delivery_Adminhtml</codevog_delivery>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin> 

     <global>   
        <helpers>
            <codevog_delivery>
                <class>Codevog_Delivery_Helper</class>
            </codevog_delivery>
        </helpers>
        <models>
            <delivery>
                <class>Codevog_Delivery_Model</class>
                <resourceModel>delivery_mysql4</resourceModel>
            </delivery>
            <delivery_mysql4>
                <class>Codevog_Delivery_Model_Mysql4</class>
                <entities>
                    <days>
                        <table>delivery_days</table>
                    </days>
                     <dates>
                        <table>delivery_dates</table>
                    </dates>
                     <minimumdays>
                        <table>delivery_minimumdays</table>
                    </minimumdays>
                </entities>
            </delivery_mysql4>
        </models>
        <resources>
            <delivery_setup>
                <setup>
                    <module>Codevog_Delivery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </delivery_setup>
            <delivery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </delivery_write>
            <delivery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </delivery_read>
        </resources>
        <blocks>
            <codevog_delivery>
                <class>Codevog_Delivery_Block</class>
            </codevog_delivery>
        </blocks>
        <fieldsets>
            <sales_convert_quote_address>
                <customer_notes>
                    <to_order>customer_note</to_order>
                </customer_notes>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    

<default>
    <checkout>
        <codevog_delivery>
            <enable_date>1</enable_date>
        </codevog_delivery>
    </checkout>
</default>


<frontend>
    <layout>
        <updates>
            <codevog_delivery>
                <file>codevog/delivery.xml</file>
            </codevog_delivery>
        </updates>
    </layout>
   <events>
       <checkout_controller_onepage_save_shipping_method>
           <observers>
               <Codevog_Delivery_Model_Observer>
                   <type>singleton</type>
                   <class>Codevog_Delivery_Model_Observer</class>
                   <method>saveComment</method>
               </Codevog_Delivery_Model_Observer>
           </observers>
       </checkout_controller_onepage_save_shipping_method>
       <checkout_type_onepage_save_order>
                <observers>
                    <Codevog_Delivery_Model_Observer>
                        <type>singleton</type>
                        <class>Codevog_Delivery_Model_Observer</class>
                        <method>Deliverycomment</method>
                    </Codevog_Delivery_Model_Observer>
                </observers>
            </checkout_type_onepage_save_order>
   </events>
</frontend>
</config>
