<?xml version="1.0"?>
<config>
    <modules>
        <Codevog_Templatesettings>
            <version>0.1.1</version>
        </Codevog_Templatesettings>
    </modules>
    <admin>
        <routers>
            <templatesettings>
                <use>admin</use>
                <args>
                    <module>Codevog_Templatesettings</module>
                    <frontName>templatesettings</frontName>
                </args>
            </templatesettings>
        </routers>
    </admin>            
	<adminhtml>
        <layout>
            <updates>
                <templatesettings>
                    <file>templatesettings.xml</file>
                </templatesettings>
            </updates>
        </layout>
        <!--<menu>-->
            <!--<codevog translate="title" module="templatesettings">-->
                <!--<title>Module template</title>-->
                <!--<sort_order>9999</sort_order>-->
                <!--<children>-->
                    <!--<template translate="title" module="templatesettings">-->
                        <!--<title>Template</title>-->
                        <!--<sort_order>10</sort_order>-->
                        <!--<children>-->
                            <!--<settings translate="title" module="templatesettings">-->
                                <!--<title>Theme Settings</title>-->
                                <!--<sort_order>10</sort_order>-->
                                <!--<action>adminhtml/system_config/edit/section/templatesettings</action>-->
                            <!--</settings>-->
                            <!--<restore translate="title" module="templatesettings">-->
                                <!--<title>Restore Defaults</title>-->
                                <!--<sort_order>20</sort_order>-->
                                <!--<action>templatesettings/adminhtml_restore</action>-->
                            <!--</restore>-->
                            <!--<activate translate="title" module="templatesettings">-->
                                <!--<title>Activate Theme</title>-->
                                <!--<sort_order>30</sort_order>-->
                                <!--<action>templatesettings/adminhtml_activate</action>-->
                            <!--</activate>-->
                        <!--</children>-->
                    <!--</template>-->
                <!--</children>-->
            <!--</codevog>-->
        <!--</menu>-->
		<translate>
		     <modules>
		         <Codevog_Templatesettings>
		             <files>
		                 <default>Codevog_Templatesettings.csv</default>
		             </files>
		         </Codevog_Templatesettings>
		     </modules>
		 </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
			                <children>
			                    <config>
			                        <children>
			                            <templatesettings>
			                                <title>Template Theme Settings</title>
			                            </templatesettings>
			                        </children>
			                    </config>
			                </children>
			            </system>
						<codevog>
			                <children>
                                <template>
                                    <title>Template</title>
                                    <children>
                                        <settings>
                                            <title>Theme Settings</title>
                                        </settings>
                                        <restore>
                                            <title>Restore Defaults</title>
                                        </restore>
                                        <activate>
                                            <title>Activate Theme</title>
                                        </activate>
                                    </children>
                                </template>
			                </children>
			            </codevog>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<global>
        <blocks>
            <templatesettings>
                <class>Codevog_Templatesettings_Block</class>
            </templatesettings>
        </blocks>
        <helpers>
            <templatesettings>
                <class>Codevog_Templatesettings_Helper</class>
            </templatesettings>
        </helpers>
		<models>
            <templatesettings>
                <class>Codevog_Templatesettings_Model</class>
            </templatesettings>
        </models>
        <resources>
            <templatesettings_setup>
                <setup>
                    <module>Codevog_Templatesettings</module>
	                <class>Codevog_Templatesettings_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </templatesettings_setup>
            <templatesettings_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </templatesettings_write>
            <templatesettings_read>
               <connection>
                <use>core_read</use>
              </connection>
            </templatesettings_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <templatesettings>
                <use>standard</use>
                <args>
                    <module>Codevog_Templatesettings</module>
                    <frontName>templatesettings</frontName>
                </args>
            </templatesettings>
        </routers>
        <layout>
            <updates>
                <codevog_templatesettings>
                    <file>codevog/templatesettings.xml</file>
                </codevog_templatesettings>
            </updates>
        </layout>
        <translate>
            <modules>
                <Codevog>
                    <files>
                        <default>Codevog_Templatesettings.csv</default>
                    </files>
                </Codevog>
            </modules>
        </translate>
    </frontend>



	<default>
		<templatesettings>
			<templatesettings_appearance>
				<slider>latest</slider>
				<footer>simple</footer>
				<width>flexible</width>
				<style>dark</style>
				<font>Open Sans</font>
				<color>#9A1212</color>
				<header_bg_color></header_bg_color>
				<header_fg_color></header_fg_color>
				<footer_bg_color></footer_bg_color>
				<footer_fg_color></footer_fg_color>
				<content_bg_color></content_bg_color>
			</templatesettings_appearance>
            <templatesettings_navigation>
                <show_description>1</show_description>
                <show_learn_more>1</show_learn_more>
            </templatesettings_navigation>
			<templatesettings_header>
				<navigation_home>0</navigation_home>
				<top_signup>1</top_signup>
                <top_ajaxlogin>1</top_ajaxlogin>
                <top_ajaxsignup>1</top_ajaxsignup>
				<top_custom_link></top_custom_link>
				<top_custom_link_path></top_custom_link_path>
				<top_custom_link_anchor></top_custom_link_anchor>
				<top_custom_link_title></top_custom_link_title>
			</templatesettings_header>
			<templatesettings_labels>
				<new_label>1</new_label>
				<new_label_position>top-left</new_label_position>
				<sale_label>1</sale_label>
				<sale_label_position>top-right</sale_label_position>
			</templatesettings_labels>
             <templatesettings_news>
                <news_active>1</news_active>
                <news_template>1column</news_template>
                <news_templateview>2columns-left</news_templateview>
                <news_top>1</news_top>
                <news_home>1</news_home>
                <news_homenum>2</news_homenum>
                <news_homeimage>1</news_homeimage>
                <news_left>1</news_left>
                <news_leftnum>2</news_leftnum>
                <news_leftimage>1</news_leftimage>
                <news_right>1</news_right>
                <news_rightnum>2</news_rightnum>
                <news_rightimage>1</news_rightimage>
            </templatesettings_news>
            <templatesettings_options>
                <options_ajaxcart>1</options_ajaxcart>
                <options_imagebuilder>1</options_imagebuilder>
            </templatesettings_options>
        <templatesettings_imagebuilder_image>
            <scale_step>0.1</scale_step>
            <move_step>3</move_step>
            <stretch_step>3</stretch_step>
            <rotate_step>2</rotate_step>
        </templatesettings_imagebuilder_image>
        <templatesettings_imagebuilder_text>
            <scale_step>0.1</scale_step>
            <move_step>3</move_step>
            <stretch_step>3</stretch_step>
            <rotate_step>2</rotate_step>
        </templatesettings_imagebuilder_text>
        <htmlcanvas_config>
            <enabled>1</enabled>
            <enable_user_uploads>1</enable_user_uploads>
            <max_uploads>50</max_uploads>
            <enable_insert_templates>1</enable_insert_templates>
            <max_templates>20</max_templates>
            <enable_insert_cliparts>1</enable_insert_cliparts>
            <enable_insert_text>1</enable_insert_text>
            <enable_scale>1</enable_scale>
            <enable_rotate>1</enable_rotate>
            <enable_centered>1</enable_centered>
            <enable_on_top_bottom>1</enable_on_top_bottom>
            <enable_remove_button>1</enable_remove_button>
            </htmlcanvas_config>
		</templatesettings>
	</default>
</config>