
/* General styles for all menus */
.str-spmenu {
    background: transparent;
    position: absolute;
}

.str-spmenu h3 {
font-weight: 400;
}

/* Orientation-dependent styles for the content of the menu */

.str-spmenu-vertical {
    width: 240px;
    height: 100%;
    min-height: 100%;
    top: 0;
    z-index: 1000;
}



/* Vertical menu that slides from the left or right */

.str-spmenu-left {
    left: -240px;
    display: none;
}

.str-spmenu-open{
    display: block;
    height: 750px;
    overflow-y: scroll;


}


.menu-container ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

.menu-container  ::-webkit-scrollbar-track {
    background-color: rgba(90,14,28, .6);
    border-radius: 6px;
}
.menu-container ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(156, 156, 156, .6);
}



/* Push classes applied to the body */

.str-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.str-spmenu-push-toright {
    left: 240px;
    background: #1d1c1b;
}


/* Transitions */
.str-spmenu,
.str-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*//Icon btn*/


.navbar-toggle {
    position: relative;
    /*float: left;*/
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 8px auto;
    background-color: #4f0016;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar-toggle .icon-bar {
    background-color: #FFF;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.mhide{

    display: block;
}

.mshow{
    display: none;
}






/*//menu animate btn*/
.str-spmenu-push-toright .menu-container{
    text-align: left;
}

#showLeftPush{
    margin-left: 10px;
    margin-right: 10px;
}



@media (max-width: 767px) {
    .menu-container{
        text-align: center;
    }

    /*menu style*/
    .wrapper  .nav li > div.sub-wrapper > ul > li,
    .wrapper  .nav   li{
        float: none;
        display: block;
        width: 100%;
    }



    .wrapper  .nav > li > a {
        height: 33px;
        line-height: 33px;
    }


    .wrapper .nav div.sub-wrapper{
        left: 0;
        position: relative;
        width: auto;
        padding: 5px;
        /*display: none;*/

    }

    .wrapper .nav ul li a{
        line-height: 25px;
        height: 25px;
    }

    .mshow{
        display: block;
    }


    header.links li{
        display: block;
    }


   .mhide, .links li.separator{
       display: none;
   }

    .str-spmenu-open .links{
        padding: 10px 20px;
        background: url("../images/bg_header.jpg") no-repeat 50% 0 #5a0e1c;
    }

    .str-spmenu-open .links a{
        padding: 5px 0;
        display: block;
    }
}


@media (min-width: 768px) {
    .str-spmenu-left{
        left: inherit;
    }

    .str-spmenu-vertical{
        width: 100%;
        width: 970px;
    }

    .str-spmenu {
        position: relative;
    }

    .str-spmenu-push{
        overflow: inherit;
        left: inherit;
    }


    .navbar-toggle {
        display: none;
    }

    .str-spmenu-left{
        display: block;
    }


    .str-spmenu-open{
        height: auto ;
        overflow: inherit;
    }




}

