/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
        min-width: 992px;
    }
    .main {
        width: auto;
        min-width: 962px;
        padding: 15px;
    }
    .main-shadow {
        width: 100%;
    }
    .cart-table-wrapper {
        overflow-x: scroll;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        min-width: 768px;
    }
    .main {
        width: auto;
        min-width: 738px;
        padding: 15px;
    }
    .main-shadow {
        width: 100%;
    }
    .cart .cart-collaterals .col2-set,
    .cart .totals {
        float:none;
        clear:both;
    }
    .cart .cart-collaterals .col2-set {
        margin-bottom: 17px;
    }
    .cart-table-wrapper {
        overflow-x: scroll;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .main {
        padding: 15px;
        width: auto;
    }
    .cart-table-wrapper {
        overflow-x: scroll;
    }
    .cart .cart-collaterals .col2-set,
    .cart .cart-collaterals .col2-set .col-1,
    .cart .cart-collaterals .col2-set .col-2,
    .cart .totals {
        float:none;
        clear:both;
    }
    .cart .cart-collaterals .col2-set .col-1,
    .cart .cart-collaterals .col2-set {
        margin-bottom: 17px;
    }
    .cart-table .product-image img {
        width: auto;
        height: auto;
    }
}
