<?xml version="1.0"?>
<config>    
    <modules>
        <Codevog_Navigation>
            <version>0.1.0</version>
        </Codevog_Navigation>
    </modules>
	<global>
        <helpers>
            <navigation>
                <class>Codevog_Navigation_Helper</class>
            </navigation>
        </helpers>
        <blocks>
             <navigation>
                <class>Codevog_Navigation_Block</class>
             </navigation>
        </blocks>
    </global>
</config>