<?xml version="1.0"?>
<config>
    <modules>
        <Codevog_Htmlcanvas>
            <version>0.0.4</version>
        </Codevog_Htmlcanvas>
    </modules>
    <global>
        <helpers>
            <codevog_htmlcanvas>
                <class>Codevog_Htmlcanvas_Helper</class>
            </codevog_htmlcanvas>
        </helpers>
        <models>
            <htmlcanvas>
                <class>Codevog_Htmlcanvas_Model</class>
                <resourceModel>htmlcanvas_mysql4</resourceModel>
            </htmlcanvas>
            <htmlcanvas_mysql4>
                <class>Codevog_Htmlcanvas_Model_Mysql4</class>
                <entities>
                    <products>
                        <table>htmlcanvas_products</table>
                    </products>
                    <piccategory>
                        <table>htmlcanvas_pic_category</table>
                    </piccategory>
                    <picsubcategory>
                        <table>htmlcanvas_pic_subcategory</table>
                    </picsubcategory>
                    <pics>
                        <table>htmlcanvas_pics</table>
                    </pics>
                    <works>
                        <table>htmlcanvas_works</table>
                    </works>
                    <useruploads>
                        <table>htmlcanvas_user_uploads</table>
                    </useruploads>
                    <sizes>
                        <table>htmlcanvas_sizes</table>
                    </sizes>
                    <about>
                        <table>htmlcanvas_about</table>
                    </about>
                </entities>
            </htmlcanvas_mysql4>
        </models>
        <resources>
            <htmlcanvas_setup>
                <setup>
                    <module>Codevog_Htmlcanvas</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </htmlcanvas_setup>
            <htmlcanvas_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </htmlcanvas_write>
            <htmlcanvas_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </htmlcanvas_read>
        </resources>
        <blocks>
            <codevog_htmlcanvas>
                <class>Codevog_Htmlcanvas_Block</class>
            </codevog_htmlcanvas>
        </blocks>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <Codevog_Htmlcanvas_Model_Observer>
                        <class>Codevog_Htmlcanvas_Model_Observer</class>
                        <method>applySize</method>
                    </Codevog_Htmlcanvas_Model_Observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_after>
                <observers>
                    <Codevog_Htmlcanvas_Model_Observer>
                        <class>Codevog_Htmlcanvas_Model_Observer</class>
                        <method>applySizes</method>
                    </Codevog_Htmlcanvas_Model_Observer>
                </observers>
            </checkout_cart_update_items_after>
        </events>
    </global>
    <frontend>
        <routers>
            <htmlcanvas>
                <use>standard</use>
                <args>
                    <module>Codevog_Htmlcanvas</module>
                    <frontName>imagecreate</frontName>
                </args>
            </htmlcanvas>
        </routers>
        <layout>
            <updates>
                <codevog_htmlcanvas>
                    <file>codevog/htmlcanvas.xml</file>
                </codevog_htmlcanvas>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <Codevog_Htmlcanvas_Model_Observer>
                        <type>singleton</type>
                        <class>Codevog_Htmlcanvas_Model_Observer</class>
                        <method>setBuildOptions</method>
                    </Codevog_Htmlcanvas_Model_Observer>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <codevog_htmlcanvas>
                    <file>codevog/htmlcanvas.xml</file>
                </codevog_htmlcanvas>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <codevog_htmlcanvas before="Mage_Adminhtml">Codevog_Htmlcanvas_Adminhtml</codevog_htmlcanvas>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<default>-->
        <!--<canvas>-->
            <!--<htmlcanvas_config>-->
                <!--<enabled>1</enabled>-->
                <!--<enable_user_uploads>1</enable_user_uploads>-->
                <!--<max_uploads>50</max_uploads>-->
                <!--<enable_insert_templates>1</enable_insert_templates>-->
                <!--<max_templates>20</max_templates>-->
                <!--<enable_insert_cliparts>1</enable_insert_cliparts>-->
                <!--<enable_insert_text>1</enable_insert_text>-->
                <!--<enable_scale>1</enable_scale>-->
                <!--<enable_rotate>1</enable_rotate>-->
                <!--<enable_centered>1</enable_centered>-->
                <!--<enable_on_top_bottom>1</enable_on_top_bottom>-->
                <!--<enable_remove_button>1</enable_remove_button>-->
            <!--</htmlcanvas_config>-->
        <!--</canvas>-->
    <!--</default>-->
</config>